.clientsWrapper{
  background-color: rgb(253, 252, 252);
  width:85vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y:scroll;
  overflow-x: hidden;
  height:100vh;
}



.singleClient{
  width: 70vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 1.5vh;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
 
 
 }
.clientSearch{
  display: flex;
  flex-direction: column;
}
.component{
  display: flex;
  flex-direction: column;
}
input {
  width:-webkit-fill-available;
  padding: 10px 5px;
  float: left;
  color: rgb(71, 70, 70);
  border: 0;
  background: white;
  border-radius: 3px 0 0 3px;
  &:focus {
    outline: 0;
  }
}
.search {
  width: 40vw;
  margin: 10vh auto;
  background: #444;
  background: rgba(0,0,0,.2);
  border-radius:  3px;
  border: 1px solid rgb(1, 5, 255);
}
