.clientsWrapper{
  background-color: rgb(245, 248, 252);
  width:85vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y:scroll;
  overflow-x: hidden;
  height:100vh;
}


.singleClient{
  width: 70vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 1.5vh;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
 }

.clientSearch{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.component{
  display: flex;
  flex-direction: column;
}
.input {
  width:-webkit-fill-available;
  padding: 10px 5px;
  float: left;
  color: rgb(71, 70, 70);
  border: 0;
  background: white;
  border-radius: 30px;
  border:solid 2px rgb(7, 7, 7);
  text-align: center;
  &:focus {
    outline: 0;
  }
}
.input::placeholder {
  text-align: center;
  font-size: 18px;
}
.search {
  width: 40vw;
  margin: 10vh auto;
}
