.clientsWrapper{
  background-color: rgb(245, 240, 240);
  width:85vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.singleClient{
 width: 20vw;
 margin-left: 5vw;
 margin-right: 2vw;
 margin-top: 1.5vh;
 background-color: rgb(255, 255, 255);
 border-radius: 10px;

}