.wrapper{
  background-color: rgb(245, 246, 248);
  display: flex;
  flex-direction: column;
  overflow-y:scroll;
  height:100vh;
  width:85vw;

}

.resultWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3vh;
  margin-left: 2vw;
  margin-right: 2vw;

}

.result{
  margin-left: 5%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  width: 25%;
  margin-top: 2vh;
}

.categories{
  display: flex;
}

.search {
  display: flex;
  width: 40vw;
  justify-content: center;
  align-items: center;
  margin-top:5vh;
  margin-left:20vw;

  input {
    display:flex;
    width:30vw;
    padding: 10px 5px;
    float: left;
    color: rgb(71, 70, 70);
    background: white;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);  
    text-align: center;
    &:focus {
      outline: 0;
    }
  }

  input::placeholder {
    text-align: center;
    font-size: 18px;
  }
  input:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.527); 
  }

  button{
    margin-top: 10px;
  }
}

.errorAlert{
  background-color: rgba(255, 0, 0, 0.836);
  color: white;
  height: 6vh;
  width: 50vw;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom:2vh;
  left: 30vw;
}
.successAlert{
  background-color:green;
  color: white;
  height: 6vh;
  width: 50vw;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom:2vh;
  left: 30vw;
}
