.sidebarWrapper{
  display: flex;
}
.sidebar{
  display: flex;
  flex-direction: column;
  width:15vw;
  background-color: rgb(161, 236, 255);
  height: 100vh;
  
}

.navElementDiv{
border-bottom: solid black 1px;
}

.navElementP{
margin-top: 2vh;
margin-left: 1vw;
}
